<!DOCTYPE html>
<html>
  <head>
    <title>Formularios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Bienvenido a los formularios</h1>
    <ul>
      <li>
        <a href="/registro_usuario">Registro de Usuario</a>
      </li>
      <li>
        <a href="/inscripcion_curso">Inscripción a Curso</a>
      </li>
      <li>
        <a href="/registro_producto">Registro de Producto</a>
      </li>
      <li>
        <a href="/registro_libro">Registro de Libro</a>
      </li>
    </ul>
  </body>
</html>
